@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,700;0,900;1,500&display=swap');

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}
html {
    display: table;
    background: rgba(28, 28, 28, 1);
}
body {
    display: table-cell;
    vertical-align: middle;
}


.box {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 800;
    text-align: left;




    margin: 0 auto;
    width: 700px;
    height: 700px;
    

    overflow: hidden;
    background: rgba(31, 41, 55, 1);
    border-radius: 10px;


}   

.box h1{
    float: left;
    color:white;
}

.box .header {
    padding-top: 50px;
    width:100%;
    height: 45%;
    overflow: hidden;
  
    
    
}


.box button {
    height: auto;
    width: 250px;
    display:block;
    background-color:rgba(52, 211, 153, 1) ;
    outline: none;
    border:none;
    border-radius: 5px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    padding: 10px;
    color:white;
    margin-top: 40px;
    margin-left:40px;
    transition:all ease-in-out .2s;
}

.box .header {
    display: flex;
    justify-content: flex-start;
    flex-flow: column wrap;
    padding-top: 15%;
    padding-left: 50px;

}



.box .header h1,h2 {
    margin-left:40px;
    line-height: 50px;
    
}

.box .header p {
    margin-left:40px;
    line-height: 10px;
    margin-bottom: 10px;
}

.box .header p {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-style: normal;
    color:white;
    font-weight: 400;
    font-size: 20px;
    margin-top: 15px;
}
/* rgba(52, 211, 153, 1) */

.close-btn button:hover {
    background-color:rgb(0, 238, 151) ;
    color: rgb(255, 255, 255);
    transform: scale(1.05);
    cursor: pointer;
}

/* Footer */

.box .footer {
    width:100%;
    max-height: 55%;
    overflow:hidden;
    display:grid;
    padding-top:30px;
    grid-template-columns: 40% 40%;
    grid-row: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    text-align: center;
    justify-content: center;
}


.box .footer p {
    display: block;
    height: 30px;
    line-height: 30px;
    padding: 14px 16px;
    font-size: 20px;
    background: rgba(39, 53, 73, 1);
    color: rgba(93, 239, 146, 1);
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    border-radius: 10px;

    transition: all ease-in-out .15s;
    cursor: pointer;

    overflow:hidden;
    display:inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.footer p:hover {
    background: rgb(50, 68, 92);
    transform: scale(1.1);
}

.form-box {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    top:35%;
    right: 0;

    width:550px;
    height: 240px;
    background-color: rgba(110, 110, 110, 0.95);
    border-radius:10px;
    display: block;
    text-align: center;
}

.form-box .close-btn {
    display:flex;
    justify-content: right;
    max-width:100%;

}


.form-box .close-btn button {
    width: 35px;
    margin: 10px;
    height: auto;
    font-size:30px;
    background-color: rgba(52, 211, 153, 1);
    outline: none;
    border:none;;
    color:white;
    border-radius:10px;
    transition: all ease-in-out .15s;
}


.form-box input[type='number'] {
    background-color: rgba(52, 211, 153, 1);
    border:none;
    outline: none;
    width:25;
    color:white;
    text-align:center;
    padding: 5px;
    font-size: 20px;
    border-radius: 10px;
    height: auto;

}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.check-field {
    display: inline-block;
    padding: 14px 16px;

}
.check-field label {
    color:white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.check-field input {
    width:15px;
    height: 15px;
    accent-color: rgba(52, 211, 153, 1);
    
}

.save {
    background-color: rgba(52, 211, 153, 1);
    width:100px;
    height: auto;
    padding: 5px;
    border:none;
    outline:none;
    border-radius: 10px;
    transition: all ease-in-out .15s;
    cursor: pointer;
    color:white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.save:hover {
    background-color:rgb(0, 238, 151) ;
    transform:scale(1.03);
}


.form-box span {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color:white;
    
}



button {
    cursor: pointer;
    transition: all ease-in-out .15s;
}

.footer p{
    user-select: none;;
}


#pass-1:active, #pass-2:active,#pass-3:active,#pass-4:active,#pass-5:active,#pass-6:active {
    color:red;
    transform: scale(1.5);

}